<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Registration - Sewing Camp</title>

<style>
.style1 {font-family: Verdana, Arial, Helvetica, sans-serif;}
.style6 {font-family: Arial, Helvetica, sans-serif; font-size: 10px;}
.style13 {font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #0000FF; font-style: italic;}
.style14 {font-family: Arial, Helvetica, sans-serif;}
input, select, textarea {font-family: Arial, Helvetica, sans-serif; font-size: 12px;}
</style>
</head>
<body bgcolor="#ffffff">

<table border="0" cellspacing="0" cellpadding="0" width="700">
<tr>
<td colspan="16"><img src="/images/SewingMadeSimpleForKidsBanner.png" width="552" height="100" alt="Sewing Made Simple For Kids Banner"></td>
<td rowspan="2" colspan="4"><img src="/images/sew_mach.gif" width="148" height="152" alt=""></td>
<td><img src="/images/spacer.gif" width="1" height="100" alt=""></td>
</tr>
<tr>
<td colspan="16"><img src="/images/summer_camp.gif" width="552" height="52" alt=""></td>
<td><img src="/images/spacer.gif" width="1" height="52" alt=""></td>
</tr>

<!-- Navigation -->
<tr>
<td rowspan="2"><img src="/images/left_of_nav.gif" width="49" height="46" alt=""></td>
<td colspan="5"><a href="/"><img src="/images/home.gif" width="130" height="30" alt="Home"></a></td>
<td colspan="4"><a href="/campinfo"><img src="/images/camp_info.gif" width="130" height="30" alt="Camp Info"></a></td>
<td colspan="3"><a href="/campschedule"><img src="/images/camp_sched.gif" width="130" height="30" alt="Camp Schedule"></a></td>
<td colspan="4"><a href="/registration"><img src="/images/registration.gif" width="130" height="30" alt="Registration"></a></td>
<td colspan="2"><a href="/contactus"><img src="/images/contact_us.gif" width="130" height="30" alt="Contact Us"></a></td>
<td rowspan="2"><img src="/images/template_r3_c20.gif" width="1" height="46" alt=""></td>
<td><img src="/images/spacer.gif" width="1" height="30" alt=""></td>
</tr>

<tr>
<td bgcolor="#ffffff" valign="top" colspan="18">
<p class="style13">Registration Form</p>
<p class="style14">Please fill out the information below to register for Sewing Camp. Required fields are marked with *</p>

<form action="/registration" method="POST">
  <table border="0" cellspacing="5" cellpadding="5">
    <tr>
      <td class="style14">First Name*:</td>
      <td><input type="text" name="first_name" required></td>
    </tr>
    <tr>
      <td class="style14">Last Name*:</td>
      <td><input type="text" name="last_name" required></td>
    </tr>
    <tr>
      <td class="style14">Email*:</td>
      <td><input type="email" name="email" required></td>
    </tr>
    <tr>
      <td class="style14">Phone:</td>
      <td><input type="tel" name="phone"></td>
    </tr>
    <tr>
      <td class="style14">Age Group:</td>
      <td>
        <select name="age_group">
          <option value="">Select</option>
          <option value="6-8">6-8</option>
          <option value="9-12">9-12</option>
          <option value="13-15">13-15</option>
          <option value="16+">16+</option>
        </select>
      </td>
    </tr>
    <tr>
      <td class="style14">Special Requests:</td>
      <td><textarea name="special_requests" rows="3" cols="40"></textarea></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" value="Register"></td>
    </tr>
  </table>
</form>

<p class="style14">After submitting, you will receive a confirmation email with camp details.</p>
</td>
<td><img src="/images/spacer.gif" width="1" height="16" alt=""></td>
</tr>

<tr>
<td colspan="2"><a href="/registration"><img src="/images/reg_button.gif" width="88" height="36" alt="Register"></a></td>
<td rowspan="5"><img src="/images/left_of_text.gif" width="21" height="402" alt=""></td>
<td colspan="17" rowspan="2" align="left" valign="middle" bgcolor="#ffffff">
<p class="style13">Why Attend?</p>
<p class="style14">Sewing Camp is designed to foster creativity, develop skills, and make lifelong friends. Join us for a fun and educational experience!</p>
<img src="/images/sewing_needle.gif" width="549" height="37" alt="Sewing Needle" align="center">
</td>
<td><img src="/images/spacer.gif" width="1" height="36" alt=""></td>
</tr>

<tr>
<td rowspan="4" colspan="2"><img src="/images/below_reg_button.gif" width="88" height="366" alt=""></td>
<td><img src="/images/spacer.gif" width="1" height="347" alt=""></td>
</tr>

<tr>
<td rowspan="2" colspan="17"><img src="/images/below_text.gif" width="591" height="5" alt=""></td>
<td><img src="/images/spacer.gif" width="1" height="4" alt=""></td>
</tr>

<tr>
<td><img src="/images/spacer.gif" width="1" height="1" alt=""></td>
</tr>

<tr>
<td><img src="/images/l_home.gif" width="15" height="14" alt=""></td>
<td><a href="/"><img src="/images/home_2.gif" width="37" height="14" alt=""></a></td>
<td colspan="2"><img src="/images/r_home.gif" width="20" height="14" alt=""></td>
<td><a href="/campinfo"><img src="/images/template_r9_c8.gif" width="71" height="14" alt=""></a></td>
<td><img src="/images/r_camp_info.gif" width="21" height="14" alt=""></td>
<td colspan="2"><a href="/campschedule"><img src="/images/template_r9_c10.gif" width="101" height="14" alt=""></a></td>
<td><img src="/images/r_camp_sched.gif" width="21" height="14" alt=""></td>
<td colspan="2"><a href="/registration"><img src="/images/template_r9_c13.gif" width="81" height="14" alt=""></a></td>
<td><img src="/images/r_reg.gif" width="21" height="14" alt=""></td>
<td colspan="3"><a href="/contactus"><img src="/images/contact_us2.gif" width="75" height="14" alt=""></a></td>
<td colspan="2"><img src="/images/template_r9_c19.gif" width="128" height="14" alt=""></td>
<td><img src="/images/spacer.gif" width="1" height="14" alt=""></td>
</tr>
</table>

</body>
</html>

<!-- End of registration.ejs -->
